dev2021.C
fzd/
*.fzd
*.root
util/
config/config_10pi.xml
config/config_eff_opt.xml
config/config_si_refit.xml
config/config_test_track_finding.xml
config/config_test_track_fitting_krishan.xml
config/config_test_track_fitting_mcfinding.xml
config/stgc_only.xml
config/template.xml
test/test-krishan-study.sh
test/test-pythia-track-finding.sh
test/test-pythia-track-fitting.sh
test/test-track-finding.sh
test/test-track-fitting-mcfinding.sh